body { 
	background-color: #F5CBA7; 
	font: 20px Bookman Oldstyle-bold;
}

#nav_menu ul { list-style-type: none; margin-left: 35px;}
#nav_menu ul li { float: left; }
#nav_menu ul li a { 
	text-align: center;
	margin-top: 25px;
	margin-left: 5%;
	display: block;
	width: 175px;
	padding: 1em 0em;
	text-decoration: none;
	background-color: #B57047; 
	font-weight: bold;
	color: #F0B27A;
	border-right: 5px solid  #F5CBA7; 
}

#nav_menu ul li a.lastitem { border-right: none; }

#nav_menu ul li a:hover, #nav_menu ul li a:focus { 
	background-color: #F0B27A; 
	color: #5A3A27; 
}

#nav_menu ul li a#current_page { 
	background-color: #F0B27A; 
	color: #5A3A27; 
}

#sidebar1 {
 	background-color: #E69D61; 
	margin-top: 7%;
	width: 100%;
	height: 1300px;
	position: absolute;
}

#main_content {
	background-color: #F5CBA7;
	display: block;
	margin-left: 10%;
	float: left;
	padding-top: 10px;
	width: 850px;
}

.photo {
	margin-top: -11px;
	margin-right: -4px;
}

#share_links {
	float: right;
	width: 150px;
	height: 50px;
	margin-right: 25px;
	margin-top: 1em;
	margin-bottom: 2em;
}

#hours {
	float: left;
	font-weight: bold;
	color: #C67341;
	margin-left: 25px;
	margin-top: 1em;
	margin-bottom: 2em;
}

.footer {
	float: left;
	position: relative;
	width: 100%;
	left: 0;
	bottom: 0;
	font: 12px;
	text-align: center;
	font-weight: bold;
	margin-top: 15px;
}


#menu_donuts {
	margin-left: 15px;
}

#menu_coffee {
	margin-left: 15px;
}

.menu_item {
	margin-left: 235px;
	display: block;
	float: relative;
	font-weight: bold;
	font-size: 200%;
	color: #5A3A27; 
}

.menu_details {
	margin-left: 235px;
	display: block;
	float: relative;
}

#email_form_content {
	margin-left: 25px;
	margin-right: 10px;
	float: left;
}

#contact_info {
	float: left;
	margin-left: 15px;
	margin-right: 5px;
	margin-top: 25px;
}

.contact_detail {
	width: 50px; 
	height: 50px; 
	margin: 10px; 
	vertical-align: middle;
{
